$dark1: #000;
$dark2: #111;
$dark3: #333;
$dark4: #444;
$brandMargin: 30px;
$light1: #fff;
$light2: #ccc;
$sideBarWidth: 300px;
$mobileHeaderHeight: 100px;

$breakWidth: 750px;

html, body {
  height: 100%;
}

.sidebar {
  float: left;
}

.middle {
  float: sidebar;
  width: 100%;
}

nav.sidebar {
  display: inline-block;
  top: 0;
  sidebar: 0;

  background: $dark1;

  height: 100%;
  width: $sideBarWidth;
}

.menu .glyphicon {
  font-size: 30px;
  display: block;
}

nav.sidebar,
nav.sidebar a:link,
nav.sidebar a:visited {
  color: $light1;
  text-decoration: none;
}

nav.sidebar ul {
  list-style-type: none;
  margin-sidebar: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
}

nav.sidebar ul li {
  margin: 0;
  padding: 0;
  background: $dark2;
  text-align: center;
  display: table;
  width: 100%;
}

nav.sidebar ul li div {
  display: table-cell;
  vertical-align: middle;
  height: 80px;
}

nav.sidebar ul a {
  display: block;
  margin: 0;
}

nav.sidebar ul a:last-child {
  margin-bottom: 0px;
}

nav.sidebar .brand {
  margin-top: $brandMargin;
  margin-bottom: $brandMargin;
  text-align: center;
}

nav.sidebar .brand h2 {
  margin-top: 10px;
  color: $light2;
}

nav.sidebar .brand img {
  width: 150px;
  border-radius: 50%;
}

.markdown-body .published {
  font-style: italic;
  float: right;
}

nav.sidebar ul li:hover,
nav.sidebar ul li:hover a {
  background: $dark3;
}

.wrapper .container {
  padding-left: $sideBarWidth + 20px;
}

.markdown-body .borderless,
.borderless {
  border: none;
}

.markdown-body .post-header,
.post-header {
}

h1.post-header small {
  display: block;
}

.posts h2,
.posts h3 {
  border: none;
  margin-bottom: 2px;
  padding-bottom: 0;
}

.posts small {
  display: block;
  margin-top: 5px;
}

.container {
  width: 100%;
}

pre {
  padding: 0;
}

pre code {
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
}

.posts-pagination {
  text-align: center;
}

.mobile-header {
  height: $mobileHeaderHeight;
  background: $dark1;
  text-align: center;
  padding-top: $mobileHeaderHeight / 3.2;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
}

.btn-dark,
.btn-dark:link,
.btn-dark:focus,
.btn-dark:visited {
  background: $dark3;
  color: $light2;
}

.btn-dark:active {
  background: $dark2;
}

.btn-dark:hover {
  background: $dark4;
  color: $light1;
}


.mobile-header button {
  float: left;
}

.mobile-header h2 {
  margin: 0;
  padding: 0;

  color: $light2;
}

nav.sidebar .button-overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  display: none;
}

.footer {
  text-align: center;
}

.markdown-body {
  max-width: 1000px;
}

.share-buttons {
  text-align: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: $breakWidth) {
  nav.sidebar {
    display: none;
    width: 200px;
  }

  nav.sidebar .button-overlay {
    display: block;
  }

  .mobile-header {
    display: block;
    margin-bottom: 9px;
  }

  .mobile-header .sidebar-toggle {
    position: absolute;
    left: 30px;
    z-index: 1500;
  }

  .wrapper .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  nav.sidebar .brand {
    font-size: 20px;
    margin-bottom: 1px;
    margin-top: 1px;
  }

  nav.sidebar .brand img {
    width: 80px;
  }

}
